
.tumble {

  .navAnim {
    margin-top: 1rem !important;
    margin-bottom: 2rem;
  }

  max-width: none;

  h2 {
    text-align: center;
    letter-spacing: normal;
    color: #fef9d6;
  }

  h5 {
    text-transform: none;
    letter-spacing: 0rem;
    // font-weight: lighter;
  }

  h6 {
    text-align: right;
    letter-spacing: normal;
    text-transform: none;
    font-weight: lighter;
    padding: 10px;
    color: rgba(254, 249, 214, 0.2);
  }

}

  .hide {
    display: none;
  }

.quote {
  font-weight: bold;
  font-size: 1.1em;
}

.tumbleGrid {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}
