
.tumble {

  max-width: none;

  h2 {
    text-align: center;
    letter-spacing: normal;
  }

  h6 {
    text-align: right;
    letter-spacing: normal;
    text-transform: none;
    font-weight: lighter;
    padding: 10px;
    color: rgba(254, 249, 214, 0.2);
  }

}

.quote {
  font-weight: bold;
  font-size: 1.1em;
}

.tumbleGrid {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}
